<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header-text">
      <h1><a href="/"><%= title %></a></h1>
    </div>
    <div class="navbar">
      <a class="products" href="">Products</a>
      <a class="about-us" href="">About us</a>
      <a class="contact" href="">Contact us</a>
    </div>
    <div class="welcome-text">
      Välkommen till <%= title %> där mat och hälsa driver oss!
    </div>
  </body>
</html>
